body{
    background-color: cornsilk;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: navajowhite;
    text-align: center;
    background-color: darkblue; 
    width:80%;
    margin:auto;  
}

#accreditation{
font-size: 8pt;
display:block;
width: 25%;
position: fixed;
bottom: 0;
right: 0;
}

footer {
    font-size: 9pt;
    display:block;
    border: black solid;
    position:fixed;
    max-width: 70%;
    height:auto;
    bottom: 0;
    background-color: lightgoldenrodyellow;
}
    @media (max-width: 750px)
    {
    footer{font-size:6pt;}
      
}


footer>p{
    margin:3px;
}

.hidden{
    display: none;
}
label{
white-space: nowrap;
}